<% /* Inventory Management Heading */ %>
<h1><%= title %></h1>

<% /* Flash Messages */ %>
<%- messages() %>

<% /* Management Links */ %>
<ul id="inv-management">
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>

<h2>Manage Inventory</h2>
<p>Use the classification list to choose a vehicle type and see the items in inventory.</p>

<%- classificationList %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>
