<% /* Inventory Management Heading */ %>
<h1><%= title %></h1>

<% /* Flash Messages */ %>
<%- messages() %>

<% /* Management Links */ %>
<ul id="inv-management">
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>
